@model MonthlyBillsWebApp.ViewModels.ViewModelMonthlyWeekly

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>List of Monthly And Weekly</h2>

<h4>List of Books</h4>
<ul>
    @foreach (var bill in Model.monthlyBills)
    {
        <li>
            @bill.Bill;
        </li>

    }
</ul>


<h4>List of Customers</h4>
<ul>
    @foreach (var bill in Model.weeklyBills)
    {
        <li>
            @bill.Bill;
        </li>

    }
</ul>

