.TJR_row_Green {

    background-color: lawngreen;
}

.TJR_th_Hidden {
    visibility: collapse;
    background-color: white;
    /*border:solid black 5px;*/
}

.TJR_td_Hidden {
    visibility: collapse;
    /*border:5px solid black;*/
}



body {
    padding-top: 2%;
    padding-bottom: 2%;

  /* margin: 0; */
  	margin-right: 15%;
margin-left: 15%;
	position: relative;
}


table.TJR_UpcomingTable td:nth-child(7) {
    display:none;
}

table.TJR_UpcomingTable th:nth-child(7) {
    display: none;
}

table.TJR_MonthlyTable td:nth-child(1) {
    display: none;
}

table.TJR_MonthlyTable th:nth-child(1) {
    display: none;
}




/* Set padding to keep content from hitting the edges */
.body {
    /* padding-left: 15px; */
    /* padding-right: 15px; */
		margin-right: 20%;
margin-left: 20%;
	position: relative;
	font-size: 14px;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
tr {
    background-color: rgba(0, 0, 0, 0.075);
   
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}




table {
    border-collapse: collapse;
	
    /* width: 10%; */

}

