<div>
    <p>
        <span>@Html.ActionLink("Monthly Bills  ", "Index", "MonthlyBills")</span>
        @*TO DO create space*@
        <span>@Html.ActionLink("Weekly Bills  ", "Index", "WeeklyBills")</span>
        @*TO DO create space*@
        <span>@Html.ActionLink("Upcoming Bills  ", "Index", "UpcomingBills")</span>
    </p>
</div>


